* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	max-width: 600px;
	font-family: avenir, helvetica, sans-serif;
	background: rgba(102,163,198,0.8);
}

button {
	float: left;
	position: inline;
	width: 80px;
	height: 40px;
	border-radius: 4px;
	background: rgb(255,255,255);
	font-size: 0.8em;
}

#lightbox {
	width: 80px;
	height: 220px;
	background: rgb(255,255,255);
	border: 1px solid #ccc;
}

.light {
	width: 60px;
	height: 60px;
	background-color: rgba(132,132,132,1);
	border-radius: 30px;
	border: 2px solid #ccc;
	cursor: pointer;
	margin: 10px;
	}

.light:hover {	
  background-color: green;
  opacity: .9;
}



/* button {
	float: right;
	clear: both;
	width: 80px;
	height: 40px;
	border-radius: 4px;
	background: rgb(255,255,255);
	font-size: 0.8em;
} */
